@font-face {
    font-family: 'AmericanTypewriterRegular';
    src: url('fonts/AmericanTypewriterRegular.eot');
    src: url('fonts/AmericanTypewriterRegular.eot') format('embedded-opentype'),
         url('fonts/AmericanTypewriterRegular.woff2') format('woff2'),
         url('fonts/AmericanTypewriterRegular.woff') format('woff'),
         url('fonts/AmericanTypewriterRegular.ttf') format('truetype'),
         url('fonts/AmericanTypewriterRegular.svg#AmericanTypewriterRegular') format('svg');
}
